// EnterCode

.input_EnterCode {
    border: none;
    font-size: 3rem;
    letter-spacing: 1rem;
    text-align: center;
    width: 200px;
    padding: 10px;
    margin: 20px auto 0;
}

.p_EnterCode {
    // margin-top: 30px;
    // margin-bottom: 40px;
}
