.my__data {
    text-align-last: left;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: $color-black;
    margin-top: 32px;
    font-family: $font-bold;
    background-color: $color-white;
    border-radius: 16px;
    width: 95%;
    &__fields {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        justify-content: flex-start;
        align-items: center;
    }
    &-field {
        display: flex;
        flex-direction: column;
        padding: 12px 20px;
        font-size: 12px;
        font-weight: 400;
        color: $color-text-secondary;
        border: 1px solid $color-button-secondary-normal;
        border-radius: 16px;
        margin-bottom: 16px;
        width: 24%;
        margin-right: 39px;

        &--value {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &--lastname {
            font-size: 16px;
            color: $color-text-black;
        }
    }
}

@media (max-width: 1400px) {
    .my__data {
        &-field {
            padding: 10px 5px;
            margin-right: 25px;
        }
    }
}
